<ion-header>
    <ion-navbar>
        <ion-title class="center">
            Setup Bank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div>
        <ion-list padding>
            <ion-item>
                <!-- <ion-label>
                    <ion-icon name="person"></ion-icon>
                </ion-label> -->
                <ion-input type="text" [(ngModel)]="bank.name" placeholder="Bank Name" required></ion-input>
            </ion-item>

            <ion-item>
                <!-- <ion-label>
                    <ion-icon name="person"></ion-icon>
                </ion-label> -->
                <ion-input type="text" [(ngModel)]="bank.route" placeholder="Bank Routing" required></ion-input>
            </ion-item>

            <ion-item>
                <!-- <ion-label>
                    <ion-icon name="person"></ion-icon>
                </ion-label> -->
                <ion-input type="number" [(ngModel)]="bank.acocunt_number" placeholder="Account Number" required></ion-input>
            </ion-item>

            <ion-item [ngClass]="{ 'ng-dirty ng-invalid' : (bank.acocunt_number !== bank.confirm_acocunt_number)} ">
                <ion-input type="number " [(ngModel)]="bank.confirm_acocunt_number" placeholder="Confirm Account Number" required></ion-input>
            </ion-item>

            <ion-item [hidden]="(bank.acocunt_number === bank.confirm_acocunt_number)">
                <ion-label color="danger">Account number most match</ion-label>
            </ion-item>

            <ion-item>
                <!-- <ion-label>
                    <ion-icon name="person "></ion-icon>
                </ion-label> -->
                <ion-input type="text " [(ngModel)]="bank.city " placeholder="city " required></ion-input>
            </ion-item>

            <ion-item ng-show="false " style="display: none; ">
            </ion-item>
        </ion-list>

        <div padding center class="center ">
            <button ion-button (click)='setupbank()' [disabled]="!bank.name || !bank.city|| !bank.route || !bank.acocunt_number || !bank.confirm_acocunt_number ">Setup Paypal</button>
        </div>

    </div>
</ion-content>