<!--
  Generated template for the GetPaidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title class="center">Get Paid</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list paddinf>
        <ion-item>

            <ion-input type="number" [(ngModel)]="bank.amount" placeholder="Amount" required></ion-input>
        </ion-item>

        <ion-item ng-show="false" style="display: none;">
        </ion-item>
    </ion-list>

    <div padding center class="center">
        <button ion-button (click)='payme()' [disabled]="!bank.amount">Confirm</button>
    </div>
</ion-content>